.ant-table-thead .ant-table-cell {
  background-color: var(--cl-header-table) !important;
}
.table-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.table-header .text {
  white-space: normal; /* Allow text to wrap */
  word-wrap: break-word; /* Break long words */
  text-overflow: ellipsis; /* Show ellipsis for truncated text */
}
.table-header:hover .up-arrow {
  visibility: visible;
}
.arrow-icon-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-left: 10px;
}
.up-arrow {
  visibility: hidden;
  /* margin-left: 3px; */
}

.table-header:hover .arrow-icon-hover {
  visibility: visible; /* Show on hover */
}
/* 
.arrow-icon {
  width: 30%;
} */
.arrow-icon-visible {
  visibility: visible; /* Show always */
}

.search-category {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px 5px 5px 28px;
  width: 210px;
  height: 35px;
  outline: none;
}
.search-category:hover {
  border-color: var(--border-hover-color);
}
.search-category:focus {
  border-color: var(--border-hover-color);
  border-width: 2px;
}
/* .headerProduct {
  display: flex;
  width: 100%;
  height: auto;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 15px;
  margin-top: 30px;
} */
.header-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  gap: 15px;
}
.header-left-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.header-left-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.btn-header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: white;
  width: 160px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: var(--kv-success);
  cursor: pointer;
  font-weight: 600;
}

.footer-add-product {
  position: absolute;
  bottom: -4rem;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  margin-right: 20px;
}

.footer-modify-product {
  position: absolute;
  bottom: -4rem;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  margin-right: 20px;
}
.btn-cancel-product {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 80px;
  height: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  font-weight: 400;
  background-color: var(--cl-btn-cancel);
  color: white;
}
.btn-cancel-product:hover {
  background-color: var(--cl-btn-cancel-hover);
}
.btn-add-product {
  width: 80px;
  height: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
  background-color: var(--kv-success);
  color: white;
  cursor: pointer;
  font-weight: 400;
}
.btn-add-product:hover {
  background-color: var(--kv-success-600);
}
.footer-modify-product {
  display: flex;
  align-items: center;
  gap: 5px;
}
.btn-header-right:hover {
  background-color: var(--kv-success-600);
}
.overlay-text {
  position: absolute;
  padding: 8px;
  color: #d9d9d9;
  top: 2;
  right: 0;
  z-index: 2;
}
.detail-product {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.content-add-product {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 30px;
  gap: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.content-add-product-right {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 480px;
  margin-left: 20px;
}
.content-modify-product-left {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 50px;
  margin-top: 10px;
  margin-left: 10px;
}
.content-add-product-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
.content-add-product-left-container-main {
  width: 40%;
}
.content-add-product-left-container-more {
  width: 40%;
}
label.label-upload {
  width: 75px;
  height: 75px;
}
.detail-product-row {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  padding: 5px 5px 5px 0;
  margin-top: 10px;
  margin-left: 10px;
  border-bottom: 1px solid lightgray;
}
.detail-product-row label {
  width: 12rem;
  font-weight: 600;
  color: var(--kv-secondary-900);
}
.detail-product-row p {
  color: var(--kv-secondary-700);
}
.picture-item label {
  font-size: 15px;
  font-weight: 600;
}
.btn-close-image {
  position: absolute;
  background: none;
  border: none;
  right: 5px;
  top: 5px;
  font-size: 20px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
}
.btn-close-image:hover {
  color: white;
}
.preview-image:hover {
  background-color: var(--border-hover-color);
}
.input-info label {
  font-weight: 500;
  font-size: 17px;
  padding: 5px;
  color: var(--cl-dark);
}
.input-info p {
  font-weight: 100;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--cl-dark);
}
