.header-profile {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.logo_profile {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  border-radius: 50%;
  background: var(--kv-secondary-400);
  color: white;
}
.profile-input-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-profile {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: 50%;
  background: var(--kv-secondary-400);
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.image-profile:hover,
.image-profile:focus {
  background-color: lightgray;
  transform: scale(1.1);
}

.header-profile .info-customer {
  font-size: 30px;
  font-weight: 600;
  padding: 5px;
  margin-left: 20px;
  color: var(--kv-secondary-600);
}
.content-profile {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 35px;
  align-items: start;
  justify-content: space-between;
  /* border: 1px solid lightgray; */
  border-radius: 8px;
  background-color: white;
}
.content-profile .left-content-profile {
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.content-profile .right-content-profile {
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.content-profile .left-content-profile .profile-input {
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.content-profile .right-content-profile .profile-input {
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.content-profile .left-content-profile .btn-profile {
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  padding: 5px;
}
.btn-profile-save-password {
  width: 95%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 10px;
  padding: 5px;
}
.btn-clear-input {
  width: 70px;
  height: 40px;
  background-color: transparent;
  color: grey;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
}
.btn-clear-input:hover {
  border-color: red;
  color: red;
  border-width: 2px;
}
.btn-save-profile {
  width: 70px;
  height: 40px;
  background-color: transparent;
  color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: var(--kv-success);
  font-weight: 600;
  font-size: 15px;
}
.btn-save-profile:hover,
.btn-save-profile:focus {
  background-color: var(--kv-success-600);
}
.profile-input .input-field {
  width: 90%;
  max-width: 500px;
  height: 45px;
  font-size: 15px;
}

.profile-input .input-field-password {
  width: 90%;
  max-width: 450px;
  height: 45px;
  font-size: 15px;
}

.err-validate {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  /* margin-right: 45px; */
  color: red;
  /* padding-right: 21px; */
}
.err-validate span {
  font-size: 12px;
  color: red;
}
:where(.css-dev-only-do-not-override-1qfezbu).ant-popover .ant-popover-inner {
  border: 1px solid var(--kv-success);
}
@media only screen and (max-width: 1670px) {
  .profile-input .input-field {
    width: 90%;
    max-width: 420px;
    height: 45px;
    font-size: 15px;
  }
  .profile-input .input-field-password {
    width: 90%;
    max-width: 400px;
    height: 45px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 1500px) {
  .profile-input .input-field {
    width: 90%;
    max-width: 350px;
    height: 45px;
    font-size: 15px;
  }
  .profile-input .input-field-password {
    width: 90%;
    max-width: 330px;
    height: 45px;
    font-size: 15px;
  }
}
