@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap");

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1.title-category {
  font-size: 30px;
  margin-left: 50px;
  margin-top: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: auto;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 15px;
  margin-top: 30px;

}
.search-category {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 5px 5px 35px;
  width: 200px;
  height: 26px;
  outline: none;
}

.header-top {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header-top .icon {
  position: absolute;
  left: 7px;
  top: 4px;
  translate: 0 -7%;
  font-size: 20px;
}
.header-btn {
  display: flex;
  justify-content: space-between;
}
.header-btn button {
  margin-right: 21px;
  outline: none;
  font-size: 13px;
  color: white;
  background: #3072db;
  font-weight: 300;
  cursor: pointer;
}
.header-bot {
  margin-top: 30px;
  width: 100%;
  height: auto;
}

/* .header-bot thead th {
  border-bottom: 0.5px solid lightgrey;
  width: 15%;
  height: 39px;
}

.header-bot tbody td {
  border-bottom: 1px solid lightgrey; /* Bottom border with 1px thickness and black color */
/* }
.header-bot .icon {
  color: black;
  margin-left: 5px;
} */
  /* .header-bot tr {
    width: auto;
    height: 50px;;
  }  */
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
/* Ẩn input[type="file"] */

.preview {
  max-width: 200px;
  max-height: 200px;
  margin-top: 10px;
}
.title-addItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 25px;
  margin-bottom: 20px;
}
.name-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.input-name-category {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
    width: 320px;
    height: 26px;
    outline: none;
}
.picture-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 30px;
}
label.title-picture {
    margin-right: 21px;
} 
.show-picture {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 30px;
}
label > span {
  color: red;
}