@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap");

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

a.title-category {
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 15px;
  margin-top: 30px;
}
.search-categories {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px 5px 5px 28px;
  width: 220px;
  height: 35px;
  outline: none;
}
.search-categories:hover {
  border-color: var(--kv-primary);
}
.search-categories:focus {
  border-color: var(--kv-primary-600);
}
.header-top {
  width: 100%;
  display: flex;
  align-items: center;
  border: none;
  color: white;
  padding: 15px;
  margin-top: 30px;
  justify-content: space-between;
  position: relative;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.header-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  padding: 10px;
  margin-right: 10px;
}
.header-top .icon {
  position: absolute;
  left: 7px;
  top: 4px;
  translate: 0 -7%;
  font-size: 20px;
}
.header-btn {
  display: flex;
  justify-content: space-between;
}
.header-btn button {
  margin-right: 21px;
  outline: none;
  font-size: 13px;
  color: white;
  background: #3072db;
  font-weight: 300;
  cursor: pointer;
}
.table-container {
  margin-top: 30px;
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
/* Ẩn input[type="file"] */

.preview {
  max-width: 200px;
  max-height: 200px;
  margin-top: 10px;
}
.title-addItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.name-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 30px;
}
.decribe-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  font-size: 15px;
  margin-bottom: 40px;
  margin-top: 30px;
}
.input-name-category {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 5px 5px 10px;
  width: 260px;
  height: 40px;
  outline: none;
  font-size: 15px;
}
.input-name-category:hover,
.input-name-category:focus {
  border: 1px solid var(--border-hover-color);
}
.picture-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.show-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 30px;
}
label > span {
  color: red;
}
.errorPopup {
  color: red;
  font-size: 13px;
  margin-left: 13rem;
}
span.total-items {
  position: absolute;
  bottom: -2px;
  margin-bottom: 25px;
  margin-left: 87%;
  z-index: 1000;
}
.preview-image {
  height: 100px;
  border: 1px dashed lightgray;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
}
.preview-image span {
  font-size: 15px;
  color: #ccc;
}
label.label-upload {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  background: var(--cl-gray);
  border-radius: 5px;
  font-size: 40px;
  padding: 10px;
  margin-right: 104px;
  color: white;
  cursor: pointer;
}

label.label-upload:hover {
  border-color: lightgrey;
  background: var(--cl-btn-cancel-hover);
}
