.page_invoice {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.header_invoices {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.dateTime_invoices {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.main_header_invoices {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.main_header_invoices .logo {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.main_header_invoices .logo img {
  width: 150px;
  height: 120px;
  padding: 5px;
}

.main_header_invoices .logo span {
  font-size: 25px;
  font-weight: 600;
  color: var(--color-title);
  text-transform: uppercase;
}
.main_header_invoices .info_admin {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.main_header_invoices .title_invoices {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  font-weight: 800;
}
.containner_invoices {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.info_customer_invoices {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
}
/* .containner_invoices .table_product_invoice {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
} */
.total_price_invoices {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 10px;
  font-weight: 700;
  margin-top: 10px;
}
.containner_invoices .title_prices {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  padding: 10px;
  /* margin-left: 100px; */
}
.total_price_invoices .detail_prices {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  margin-left: 100px;
  padding: 10px;
}
.detail_qr_invoices {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.detail_text_invoices {
  width: 100%;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: start;
  font-style: italic;
}
.table_product_invoice {
  width: 100%;
  margin-top: 20px;
}

.table_product_invoice table {
  width: 100%;
  border-collapse: collapse;
}

.table_product_invoice th,
.table_product_invoice td {
  padding: 8px 12px;
  text-align: left;
  border: 2px solid #000; /* Add border to the cells */
}

.table_product_invoice th {
  background-color: #f2f2f2; /* Light gray background for headers */
}

.table_product_invoice tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* Light gray background for even rows */
}
.return-invoice {
  width: 35%;
  height: 98%;
  border-radius: 8px;
  margin-top: 5px;
  margin-right: 6px;
  background-color: white;
  /* border: 1px solid blue; */
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  flex-direction: column;
  position: relative;
}
.return-header {
  width: 100%;
  height: 150px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 15px;
  border: none;
  color: black;
}
.return-header .return-date {
  width: 100%;
  height: 30px;
  display: flex;
  align-self: center;
  margin-right: 30px;
  justify-content: end;
}
.return-header .return-customer {
  width: 100%;
  height: 50px;
  background-color: lightgray;
  border-radius: 8px;
  position: relative;
}
.return-header .return-customer .icon {
  position: absolute;
  left: 10px;
  top: 10px;
  color: rgb(85, 78, 78);
}
.return-customer input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: start;
  padding: 5px;
  padding-left: 25px;
  margin-left: 8px;
}
.return-header .title-return {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.title-return span {
  font-size: 20px;
  color: rgb(23, 215, 23);
  font-weight: 600;
}
.title-return span a {
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
}
.return-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 15px;
  padding: 15px;
}
.return-item {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.return-item .discount-input {
  width: 140px;
  height: 30px;
  border-bottom: 1px solid lightgrey;
  font-size: 16px;
  text-align: right;
}
.return-item .discount-input:focus {
  border-color: var(--cl-header);
  border-width: 2px;
}
.return-item .return-fee-input {
  width: 140px;
  height: 30px;
  border-bottom: 1px solid lightgrey;
  font-size: 16px;
  text-align: right;
}
.return-item .return-fee-input:focus {
  border-color: var(--cl-header);
  border-width: 2px;
}
.return-item .refund-amount-input {
  width: 140px;
  height: 30px;
  border-bottom: 1px solid lightgrey;
  font-size: 16px;
  text-align: right;
}
.return-item .refund-amount-input:focus {
  border-color: var(--cl-header);
  border-width: 2px;
}
.return-footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.left-page-content-return {
  width: 65%;
  height: 100%;
  padding: 5px;
  margin-top: 6px;
  position: relative;
}
.cell-code-return {
  width: 90%;
  max-width: 150px;
  margin-top: 5px;
  height: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.cell-info-return {
  width: 90%;
  max-width: 150px;
  margin-top: 5px;
  height: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.quantity-product-return {
  width: 90%;
  max-width: 150px;
  margin-top: 5px;
  height: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.quantity-product-return span {
  color: rgb(77, 69, 69);
  font-size: 14px;
}
.cell-change-price,
.cell-total-price {
  width: 90%;
  max-width: 150px;
  margin-top: 5px;
  height: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.pop-discount-return {
  position: absolute;
  left: 0rem;
  top: 15rem;
  width: 360px;
  height: 80px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  z-index: 1000;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  transform: translateY(-20px);
  transition: opacity 1s ease, transform 0.5s ease;
}
.pop-discount-return.show {
  opacity: 1;
  transform: translateY(0);
}

.pop-discount-return .discount-button {
  width: 32px;
  height: 27px;
  background: var(--cl-light-gray);
  color: black;
  border-radius: 5px;
  cursor: pointer;
}
.discount-button.active {
  background-color: var(--cl-header);
  color: white;
}
