:root {
  --border-hover-color: #1976d2;
  --border-focus-color: #135597;
  --color-title: #03176e;
  --cl-header: #0070f4;
  --kv-gray-50: #f0f1f3;
  --cl-primary: #e60000;
  --cl-secondary: #030303;
  --cl-orange: #f25c05;
  --cl-dark: #272928;
  --cl-gray: #848590;
  --cl-light-gray: #e8ecf1;
  --cl-light: #f5f7fb;
  --cl-bg: #030303;
  --cl-primary-80: #cd0000;
  --cl-primary-60: #c30101;
  --cl-primary-10: rgba(230, 0, 0, 0.10196078431372549);
  --cl-primary-20: rgba(230, 0, 0, 0.20784313725490197);
  --cl-green-2: #27ae60;
  --cl-light-primary: #f66;
  --cl-btn: #009232;
  --cl-btn-hover: #0a642a;
  --cl-header-table: #e6f1fe;
  --cl-btn-cancel: #677484;
  --cl-btn-cancel-hover: #464d55;
  --cl-input-search: #f0f1f3;
  --cl-hover-btn: #f0f1f3;
  --kv-font-sans-serif: Arial, Helvetica, sans-serif;
  --kv-primary-25: #f2f8fe;
  --kv-primary-50: #e6f1fe;
  --kv-primary-75: #d9eafd;
  --kv-primary-100: #cce2fd;
  --kv-primary-150: #b3d4fc;
  --kv-primary-200: #99c6fb;
  --kv-primary-250: #80b8fa;
  --kv-primary-300: #66a9f8;
  --kv-primary-350: #4d9bf7;
  --kv-primary-400: #338df6;
  --kv-primary-600: #005ac3;
  --kv-primary-700: #004392;
  --kv-primary-750: #00387a;
  --kv-primary-800: #002d62;
  --kv-primary-850: #002249;
  --kv-primary-900: #001631;
  --kv-primary: #0070f4;
  --kv-primary-rgb: 0, 112, 244;
  --kv-secondary-25: #f7f8f9;
  --kv-secondary-50: #f0f1f3;
  --kv-secondary-75: #e8eaed;
  --kv-secondary-100: #e1e3e6;
  --kv-secondary-150: #d1d5da;
  --kv-secondary-200: #c2c7ce;
  --kv-secondary-250: #b3bac2;
  --kv-secondary-300: #a4acb5;
  --kv-secondary-350: #959ea9;
  --kv-secondary-400: #85909d;
  --kv-secondary-600: #525d6a;
  --kv-secondary-700: #3e464f;
  --kv-secondary-750: #343a42;
  --kv-secondary-800: #292e35;
  --kv-secondary-850: #1f2328;
  --kv-secondary-900: #15171a;
  --kv-secondary: #677484;
  --kv-secondary-rgb: 103, 116, 132;
  --kv-success-25: #f2fbf5;
  --kv-success-50: #e6f8ec;
  --kv-success-75: #d9f4e2;
  --kv-success-100: #ccf0d8;
  --kv-success-150: #b3e9c5;
  --kv-success-200: #99e2b2;
  --kv-success-250: #80db9f;
  --kv-success-300: #66d38b;
  --kv-success-350: #4dcc78;
  --kv-success-400: #33c565;
  --kv-success-600: #009232;
  --kv-success-700: #006d25;
  --kv-success-750: #005b1f;
  --kv-success-800: #004919;
  --kv-success-850: #003713;
  --kv-success-900: #00240c;
  --kv-success: #00b63e;
  --kv-success-rgb: 0, 182, 62;
  --kv-info-25: #f2f8fe;
  --kv-info-50: #e6f1fe;
  --kv-info-75: #d9eafd;
  --kv-info-100: #cce2fd;
  --kv-info-150: #b3d4fc;
  --kv-info-200: #99c6fb;
  --kv-info-250: #80b8fa;
  --kv-info-300: #66a9f8;
  --kv-info-350: #4d9bf7;
  --kv-info-400: #338df6;
  --kv-info-600: #005ac3;
  --kv-info-700: #004392;
  --kv-info-750: #00387a;
  --kv-info-800: #002d62;
  --kv-info-850: #002249;
  --kv-info-900: #001631;
  --kv-info: #0070f4;
  --kv-info-rgb: 0, 112, 244;
  --kv-warning-25: #fff9f2;
  --kv-warning-50: #fff3e6;
  --kv-warning-75: #ffedd9;
  --kv-warning-100: #ffe7cc;
  --kv-warning-150: #ffdbb3;
  --kv-warning-200: #ffcf99;
  --kv-warning-250: #ffc480;
  --kv-warning-300: #ffb866;
  --kv-warning-350: #ffac4d;
  --kv-warning-400: #ffa033;
  --kv-warning-600: #cc6d00;
  --kv-warning-700: #995200;
  --kv-warning-750: #804400;
  --kv-warning-800: #663600;
  --kv-warning-850: #4d2900;
  --kv-warning-900: #331b00;
  --kv-warning: #ff8800;
  --kv-warning-rgb: 255, 136, 0;
  --kv-danger-25: #fef4f5;
  --kv-danger-50: #fde9ea;
  --kv-danger-75: #fcdee0;
  --kv-danger-100: #fbd3d5;
  --kv-danger-150: #fabdc1;
  --kv-danger-200: #f8a7ac;
  --kv-danger-250: #f69197;
  --kv-danger-300: #f47b82;
  --kv-danger-350: #f2656d;
  --kv-danger-400: #f14f59;
  --kv-danger-600: #be1c26;
  --kv-danger-700: #8e151c;
  --kv-danger-750: #771218;
  --kv-danger-800: #5f0e13;
  --kv-danger-850: #470b0e;
  --kv-danger-900: #2f0709;
  --kv-danger: #ed232f;
  --kv-danger-rgb: 237, 35, 47;
  --kv-promotion-25: #fef3fc;
  --kv-promotion-50: #fde6f8;
  --kv-promotion-75: #fddaf5;
  --kv-promotion-100: #fccdf2;
  --kv-promotion-150: #fab4eb;
  --kv-promotion-200: #f99be4;
  --kv-promotion-250: #f783de;
  --kv-promotion-300: #f56ad7;
  --kv-promotion-350: #f451d0;
  --kv-promotion-400: #f238c9;
  --kv-promotion-600: #bf0596;
  --kv-promotion-700: #8f0471;
  --kv-promotion-750: #78035e;
  --kv-promotion-800: #60024b;
  --kv-promotion-850: #480238;
  --kv-promotion-900: #300126;
  --kv-promotion: #ef06bc;
  --kv-promotion-rgb: 239, 6, 188;
  --kv-default-25: #f7f8f9;
  --kv-default-50: #f0f1f3;
  --kv-default-75: #e8eaed;
  --kv-default-100: #e1e3e6;
  --kv-default-150: #d1d5da;
  --kv-default-200: #c2c7ce;
  --kv-default-250: #b3bac2;
  --kv-default-300: #a4acb5;
  --kv-default-350: #959ea9;
  --kv-default-400: #85909d;
  --kv-default-600: #525d6a;
  --kv-default-700: #3e464f;
  --kv-default-750: #343a42;
  --kv-default-800: #292e35;
  --kv-default-850: #1f2328;
  --kv-default-900: #15171a;
  --kv-default: #677484;
  --kv-default-rgb: 103, 116, 132;
  --kv-gray-25: #f7f8f9;
  --kv-gray-50: #f0f1f3;
  --kv-gray-75: #e8eaed;
  --kv-gray-100: #e1e3e6;
  --kv-gray-150: #d1d5da;
  --kv-gray-200: #c2c7ce;
  --kv-gray-250: #b3bac2;
  --kv-gray-300: #a4acb5;
  --kv-gray-350: #959ea9;
  --kv-gray-400: #85909d;
  --kv-gray-600: #525d6a;
  --kv-gray-700: #3e464f;
  --kv-gray-750: #343a42;
  --kv-gray-800: #292e35;
  --kv-gray-850: #1f2328;
  --kv-gray-900: #15171a;
  --kv-gray: #677484;
  --kv-gray-rgb: 103, 116, 132;
  --kv-link-25: #f2f8fe;
  --kv-link-50: #e6f1fe;
  --kv-link-75: #d9eafd;
  --kv-link-100: #cce2fd;
  --kv-link-150: #b3d4fc;
  --kv-link-200: #99c6fb;
  --kv-link-250: #80b8fa;
  --kv-link-300: #66a9f8;
  --kv-link-350: #4d9bf7;
  --kv-link-400: #338df6;
  --kv-link-600: #005ac3;
  --kv-link-700: #004392;
  --kv-link-750: #00387a;
  --kv-link-800: #002d62;
  --kv-link-850: #002249;
  --kv-link-900: #001631;
  --kv-link: #0070f4;
  --kv-link-rgb: 0, 112, 244;
  --kv-white: #fff;
  --kv-black: #000000;
  --kv-white-rgb: 255, 255, 255;
  --kv-black-rgb: 0, 0, 0;
  --kv-hint-color: var(--kv-gray-400);
  --kv-secondary-color: var(--kv-gray-600);
  --kv-border-width: 0.1rem;
  --kv-size-xs: 1.8rem;
  --kv-size-sm: 2.4rem;
  --kv-size-md: 3.2rem;
  --kv-size-lg: 4rem;
  --kv-size-xl: 4.8rem;
  --kv-size-xxl: 5.6rem;
  --kv-icon-size-xs: 1.2rem;
  --kv-icon-size-sm: 1.4rem;
  --kv-icon-size-md: 1.6rem;
  --kv-icon-size-lg: 1.8rem;
  --kv-icon-size-xl: 2.2rem;
  --kv-icon-size-xxl: 2.8rem;
  --kv-radius-none: 0;
  --kv-radius-sm: 0.6rem;
  --kv-radius-md: 0.8rem;
  --kv-radius-lg: 1.2rem;
  --kv-radius-xl: 1.6rem;
  --kv-radius-circle: 9999rem;
  --kv-spacer-none: 0;
  --kv-spacer-xs: 0.2rem;
  --kv-spacer-sm: 0.4rem;
  --kv-spacer-md: 0.8rem;
  --kv-spacer-lg: 1.6rem;
  --kv-spacer-xl: 2.4rem;
  --kv-spacer-xxl: 4.8rem;
  --kv-font-weight-black: 900;
  --kv-font-weight-extrabold: 800;
  --kv-font-weight-bold: 700;
  --kv-font-weight-semibold: 600;
  --kv-font-weight-medium: 500;
  --kv-font-weight-regular: 400;
  --kv-font-weight-light: 300;
}
