:root {
  --border-hover-color: #1976d2;
  --border-focus-color: #135597;
  --color-title: #03176e;
  --cl-header: #0070f4;
  --kv-link: #0066ff;
  --kv-gray-50: #f0f1f3;
  --cl-primary: #e60000;
  --cl-secondary: #030303;
  --cl-orange: #f25c05;
  --cl-dark: #272928;
  --cl-gray: #848590;
  --cl-light-gray: #e8ecf1;
  --cl-light: #f5f7fb;
  --cl-bg: #030303;
  --cl-primary-80: #cd0000;
  --cl-primary-60: #c30101;
  --cl-primary-10: rgba(230, 0, 0, 0.10196078431372549);
  --cl-primary-20: rgba(230, 0, 0, 0.20784313725490197);
  --kv-font-sans-serif: Arial, Helvetica, sans-serif;
  --cl-green-2: #27ae60;
  --cl-light-primary: #f66;
  --cl-btn: #009232;
  --cl-btn-hover: #0a642a;
  --cl-header-table: #e6f1fe;
  --cl-btn-cancel: #677484;
  --cl-btn-cancel-hover: #464d55;
  --cl-input-search: #f0f1f3;
  --cl-hover-btn: #f0f1f3;
  --kv-primary-25: #f2f8fe;
  --kv-primary-50: #e6f1fe;
  --kv-primary-75: #d9eafd;
  --kv-primary-100: #cce2fd;
  --kv-primary-150: #b3d4fc;
  --kv-primary-200: #99c6fb;
  --kv-primary-250: #80b8fa;
  --kv-primary-300: #66a9f8;
  --kv-primary-350: #4d9bf7;
  --kv-primary-400: #338df6;
  --kv-primary-600: #005ac3;
  --kv-primary-700: #004392;
  --kv-primary-750: #00387a;
  --kv-primary-800: #002d62;
  --kv-primary-850: #002249;
  --kv-primary-900: #001631;
  --kv-primary: #0070f4;
  --kv-primary-rgb: 0, 112, 244;
  --kv-secondary-25: #f7f8f9;
  --kv-secondary-50: #f0f1f3;
  --kv-secondary-75: #e8eaed;
  --kv-secondary-100: #e1e3e6;
  --kv-secondary-150: #d1d5da;
  --kv-secondary-200: #c2c7ce;
  --kv-secondary-250: #b3bac2;
  --kv-secondary-300: #a4acb5;
  --kv-secondary-350: #959ea9;
  --kv-secondary-400: #85909d;
  --kv-secondary-600: #525d6a;
  --kv-secondary-700: #3e464f;
  --kv-secondary-750: #343a42;
  --kv-secondary-800: #292e35;
  --kv-secondary-850: #1f2328;
  --kv-secondary-900: #15171a;
  --kv-secondary: #677484;
  --kv-secondary-rgb: 103, 116, 132;
  --kv-success-25: #f2fbf5;
  --kv-success-50: #e6f8ec;
  --kv-success-75: #d9f4e2;
  --kv-success-100: #ccf0d8;
  --kv-success-150: #b3e9c5;
  --kv-success-200: #99e2b2;
  --kv-success-250: #80db9f;
  --kv-success-300: #66d38b;
  --kv-success-350: #4dcc78;
  --kv-success-400: #33c565;
  --kv-success-600: #009232;
  --kv-success-700: #006d25;
  --kv-success-750: #005b1f;
  --kv-success-800: #004919;
}
