.wrapper {
  position: relative;
  width: 420px;
  height: 500px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.wrapper.active {
  height: 670px;
  width: 750px;
}
.wrapper .form-box {
  width: 100%;
  padding: 40px;
}
.wrapper.active .form-box.login {
  transition: none;
  translate: -710px;
}
.wrapper .form-box.register {
  position: absolute;
  translate: 400px;
  transition: none;
}
.wrapper .form-box.login {
  transition: translate 0.18s ease;
  translate: 0;
}
.wrapper.active .form-box.register {
  transition: translate 0.18s ease;
  translate: 0;
}
form h1 {
  font-size: 36px;
  text-align: center;
}
form .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
  /* background: blue; */
}
.input-box input {
  width: 100% !important;
  height: 100% !important;
  background: transparent;
  border: none;
  outline: none;
  border: 1px solid rgb(211, 210, 210) !important;
  border-radius: 40px !important;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px !important;
}
.input-box input::placeholder {
  color: #fff;
}
.input-box .icon {
  position: absolute;
  right: 22px;
  top: 50%;
  translate: 0 -50%;
  font-size: 18px;
}
.input-box .icon.home {
  font-size: 23px !important;
}
.input-box .icon.password {
  cursor: pointer;
}
form .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: -14px 0 20px;
}
form .form-box.register {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 16px;
}
.remember-forgot label input {
  accent-color: #fff;
  margin-right: 5px;
}
.form-box.register label input {
  accent-color: #fff;
  margin-right: 5px;
}
.remember-forgot a {
  color: #fff;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
form button {
  width: 100%;
  height: 45px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  &.active {
    background-color: #33ffff;
  }
}
button:disabled,
button[disabled] {
  cursor: not-allowed;
}
form .register-link {
  font-size: 15px;
  text-align: center;
  margin: 20px 0 15px;
}
.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover {
  text-decoration: underline;
}
.input-box-form {
  display: flex;
  width: auto;
  height: 70px;
}
.label-register {
  display: flex;
  width: auto;
  justify-content: space-evenly;
}
