.side-bar {
  color: #fff;
}

.App {
  display: flex;
  flex-direction: row;
}
.layout-bar {
  width: 10;
}
.content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-right: 97%;
  background: white;
}
.ant-layout-has-sider {
  display: flex;
  flex-direction: row;
  color: aqua;
}
.header-sidebar {
  width: 20px;
  color: aqua;
}
