@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background: url("./assets/img/Anhbanhang.jpg") no-repeat;
} */
.image-background {
  width: 100%;
  height: 100vh;
  background: #F4F5F7;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 100%;
  height: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  list-style: none;
  outline: none;
  border: none;
}
.side-bar {
  color: #fff;
}
.toogle-theme-btn {
  position: absolute;
  left: 18px;
  bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

